.App {
  height: 100vh;
  width: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-rows: 10% 90%;
}

.map-container {
  background-color: rgb(223, 185, 116);
  height: 97%;
  width: 98%;
  margin: auto;
}

.selector-container {
  width: 200px;
  margin: auto;
  z-index: 9999;
  /* background-color: rgb(147, 147, 180); */
}

#loader {
  position: relative;
  bottom: 60%;
  margin: auto;
  z-index: 999999;
}